/* ------------google fonts------------ */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald&family=Poppins:wght@700&family=Splash&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* -------------header style------------------ */
.header{
    Width:90%;
    Height:599px;
    background-color: #161616;
    margin:50px auto;
    border-radius: 20px;;
    
}
.top-wraper{
    display: flex;
    
}

.title{
    Width:531px;
    Height:424px;
    padding:5%;
    color:#ffffff;
}
.title h1{
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 2px;
}
.title p{
    size:16px;
    line height:26px;
    margin-bottom:7%;
}
.red-btn{
    background-color: #DD0000;
    text-decoration: none;
    padding:10px 20px;
    color:#ffffff;
    border-radius:5px;
   
}
.red-btn:hover{
    background-color: rgb(0, 183, 255);
    color:black;
}

.arrow{
    font-size: 20px;
    margin-left: 10px;
}
.banar-image{
    Width:581px;
    Height:613px;
    padding:3%;
}
.banar-image img{
    width:100%;
}
/* ----------------header end---------------- */

/* --------------containt style------------------ */
.container{
    padding-top:10%;
    width:90%;
}

.contain-wraper{
    display: flex;
    
}
.chanel-bar{
    Width:300px;
    Height:220px;
    flex-direction: column;
    background-color: #161616;
    margin:3%;
    padding:2%;
    grid-gap:10px;
    border-radius: 10px;
}
.chanel-1 {
    
    border:2px solid aliceblue;
    border-radius:20px;
    background-color: #ffffff;
    height: 50px; 
    margin-bottom: 10%;
}

.chanel-1 a{
    text-decoration: none;
    color:black;
    margin:2%;
    font-size: 12px;
    font-weight: 900;
    
    
}
.chanel-2 {
    
    border:2px solid aliceblue;
    border-radius:20px;
    background-color: #ffffff;
    height: 50px; 
    margin-bottom: 10%;
}

.chanel-2 a{
    text-decoration: none;
    color:black;
    margin: 10%;
    font-size: 20px;
    font-weight: 900;
    
    
}

.chanel-3 {
    
    border:2px solid #DD0000;
    border-radius:20px;
    background-color: #DD0000;
    height: 50px; 
    margin-bottom: 10%;
}

.chanel-3 a{
    text-decoration: none;
    color:#ffffff;
    margin: 20%;
    font-size: 20px;
    font-weight: 900;
    
    padding:10px 20px;
    
}
/* ----------------------------- */

.game-bar{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3%;
    
    
}

.game{
    Width:312px;
    Height:380px;
    border: 1px solid #ddd;
    border-radius: 10px;;
   
}
.border{
    padding:5%;
    padding-bottom:0px
}
span{
    border: 1px solid black;
    padding:5px 15px;
    border-radius:5px;
    
    
}
.game-title{
    Width:272px;
    Height:50px;
    padding:5px;
}
.game-title h3{
    size:18px;
    line-height:27px;
    margin-bottom:0px;
}
.icone-wraper{
    display: flex;
    justify-content: space-between;
    
}
.icone-1{
    display: flex;
    align-items: center;
}
.icone-1 p{
    margin-left:10px
}
.icone-2{
    display: flex;
    align-items: center;
   
}

.icone-2 p{
    margin-left: 10px;
}
.down-btn{
    margin:10%; 
    /* margin-left: 800px; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: none;
    
}
.hidden-btn{
    background-color: #DD0000;
    text-decoration: none;
    padding:10px 20px;
    color:#ffffff;
    border-radius:5px;
    /* margin-top:10%; */
    
   
}
/* -------------------------upcoming style--------------------------- */
.chanel{
    
    border:5px solid green;
    border-radius:20px;
    background-color: #ffffff;
    height: 50px; 
    margin-bottom: 10%;
}

.chanel a{
    text-decoration: none;
    color:black;
    margin:2%;
    font-size: 12px;
    font-weight: 900;
    
    
}
.game-side{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5%;
}
.image-wrap{
    display:flex;
    justify-content: center;

    
}

.game-tol{
    Width:290px;
    Height:200px;
    border:1px solid #ddd;
    padding:10px;
    border-radius:10px;
}
.image-bar{
    padding-top:10%;
    padding-left:10px;
    padding-right:10px;
}
.medil{
    margin-top:45px;
    width:10%;
    margin-left:15px;
    
}
.game-titles{
    Width:230px;
    Height:60px;
}
.game-titles h4{
    font-size: 20px;
    text-align: center;
    margin-left: 26px;
    color: #161616;
    margin-bottom: 0px;
}
.game-titles p {
    font-size: 14px;
    text-align: center;
    margin-left: 22px;
    color: #4D4D4D;
    
}
/* -------------------container end----------------------- */

/* ---------------------footer style------------------------- */
.footer{
    background-color: #161616;
    margin-top:15%;
    height:500px
}
.footer-text{
    color:#ffffff;
    text-align: center;
    padding:5%
}

.footer-text h1{
    padding:2%;
    font-size: 30px;
    
    
}

.footer-contain{
    display: flex;
    margin: 2%;
    margin-top:0px;
    
}
.single-box{
    color:#ffffff;
    
}
.single-box p{
    font-size: 20px;
    margin-left: 100px;
    text-align: center;
    
}



/* ----------------------------------
        mobaile responsive
--------------- -----------------*/

@media only screen and (max-width: 600px) {
   
    /* ------------------- header style--------------- */
    .main{
        overflow-x: hidden;
    }
    .top-wraper{
        flex-direction: column;
        align-items: center;
    }

    .header{
        Width:360px;
        Height: 560px;
    }
    .title{
        Width:258px;
        Height:178px;
    }
    .title h1{
        Width:228px;
        Height:66px;
        font-size: 22px;
        line-height: 28px;
    }
    .title p{
        Width:258px;
        Height:80px;
        font-size: 14px;
        line-height:24px;
        margin-bottom: 23%;
    }

    .red-btn{
        width: 161px;
        height: 40px;
        
    }
     
    .banar-image{
        Width:233px;
        Height:350px;
        margin-top: 25%;
    }

    /* ------------------container style-------------------- */
    .container{
        Width:375px;
        Height:2847px;
        margin: auto;
        margin-left: 7%;
        padding-bottom: 52%;
    }
    .contain-wraper{
        display: flex;
        flex-direction:column;
        
    }
    .chanel-bar{
        Width:210px;
        Height:210px;
        margin-bottom:20px;
        margin-top:0px
    }
    .game-bar{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:2%;
    }
    .game-side{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:2%;
        justify-items: end;
    }
    .game{
        Width:312px;
        Height:388.69px;
        
    }

   
 /* ----------------footer style--------------- */
    .footer{
        background-color: #161616;
        margin-top:35%;
        width: 375px;
        height:550px;
        margin-top:375%;
        
    }

    .footer-contain{
        Width:347px;
        Height:300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    


    .footer-contain{
        display: flex;
        margin: 2%;
        margin-top:0px;
    }
    .single-box{
        color:#ffffff;
        margin-left: -96px;
    }
    .single-box p{
        font-size: 20px;
        margin-right: 0px;
        
        /* text-align: center; */
        
    }


    
}




/* ---------------------------
        tablet responsive
--------------------------- */
@media only screen and (min-width:601px) and (max-width:1000px){
    

    .header{
        Width:734px;
        Height: 398px;
    }
    .title{
        Width:316px;
        Height:276px;
        padding:5%;
    }
    .title h1{
        Width:289px;
        Height:150px;
        font-size: 40px;
        line-height: 50px;
    }
    .title p{
        Width:316px;
        Height:48px;
        font-size: 14px;
        line-height:24px;
        margin-bottom: 20%;
    }

    .red-btn{
        width: 161px;
         height: 48px;
        
    }
     
    .banar-image{
        Width:350px;
        Height:380px;
    }
    .container{
        padding-top:10%;
        width:90%;
        margin: auto;
        margin-left: 70px;
    }

    .contain-wraper{
        
        flex-direction:column;
        
    }
    .chanel-bar{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       Height:100%;
       Width:100%;
       margin-right:50px;
       margin-left: -42px;
        

    }
    .game-bar{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:2%;
    }
    .game-side{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:2%;
        justify-items: end;
    }
    .down-btn{
        
        margin-bottom: 0px;
        padding-bottom: 0px;
        display: block;
        margin-left: 350px;
        padding-top: 20%;
    }
    
    .footer-contain{
        
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }

}